body {
    font-family: 'Montserrat', sans-serif;
}

.firstSection {
    background-color: #FAFAFA;
    height: 692px;
    width: 100%;
}

.firstSection__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.firstSection__navbar--logo {
    color: #252B24;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
}

.firstSection__navbar--nav {
    margin-left: 30vw;
}

.firstSection__navbar--links__text {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-right: 25px;
}

.firstSection__navbar--links__icon {
    width: 18px;
    height: 18px;
    margin-right: 25px;
}

.firstSection__navbar--link__icon {
    width: 18px;
    height: 18px;
}

.firstSection__content {
    width: 30%;
    margin: 0 auto;
    margin-top: 15vh;
    text-align: center;
}

.firstSection__content--p1 {
    color: #252B24;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.2px;
}

.firstSection__content--p2 {
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.firstSection__content--btns {
    margin-top: 5vh;
}

.firstSection__content--btns__btn1 {
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    background-color: #FFA62B;
    padding: 10px 36px;
    border: none;
    border-radius: 37px;
}

.firstSection__content--btns__btn2 {
    color: #00A0C1;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    background-color: transparent;
    padding: 10px 36px;
    border: 1px solid #00A0C1;
    border-radius: 37px;
}

.secondSection {
    height: 813px;
    /* background-color: lavender; */
}

.secondSection__content {
    margin: 0 auto;
    width: 70%;
    padding: 3vh;
    text-align: center;
}

.secondSection__content--p1 {
    color: #252B24;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.secondSection__content--p2 {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: -30px;
}

.secondSection__content--cards {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.secondSection__content--cards__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding: 35px 40px;
    margin: 20px;
}

.secondSection__content--cards__card--tittle {
    color: #252B24;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-top: -5vh;
}

.secondSection__content--cards__card--paragraph {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.thirdSection {
    height: 791px;
    /* background-color: bisque; */
    text-align: center;
    padding: 15px;
}

.thirdSection__title {
    color: #252B24;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    line-height: 57px;
}

.thirdSection__p {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-top: -2vh;
}

.thirdSection__video {
    
}

.thirdSection__picture {
    position: relative;
}

.thirdSection__icon {
    position: absolute;
    text-align: center;
}

.fifthSection {
    /* background-color: aqua; */
    height: 732px;
    padding: 20px;
    text-align: center;
}

.fifthSection__title {
    color: #252B24;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.1px;
}

.fifthSection__p {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: -3vh;
}

.fifthSection__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
}

.fifthSection__cards--card {
    background-color: white;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 373px;
    margin-top: 5vh;
}

.fifthSection__cards--card__info--name {
    color: #252B24;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.fifthSection__cards--card__info--prof {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: -0.5vh;
}

.fifthSection__cards--card__info--socials {
    margin-right: 0.5vw;
}

.sixthSection {
    background-image: url("./img/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 821px;
    padding: 20px;
}